.board {
    display: flex;
    justify-content:space-around;
    padding: 0px 30px 0px 30px;

}

@media (min-width: 359px) and (max-width: 1235px) {
    .board{
        flex-direction: column;
        width: 300px;
        margin: auto;
        margin-top: 50px;
    }
}